<h1>Generate Report</h1>
<br />
<%= form_for @scrape, "role" => "form" do |f| %>
   <% if @scrape.errors.any? %>
     <% flash.now[:error] = @scrape.errors.full_messages.join(' and ') %>
   <% end %>
   <div class="form-group">
      <%= f.label :url, "Select URL" %>
      <%= f.select :url, [["https://alumni.mckinsey.com", "alumni.mckinsey.com"], ["https://www.alumni.hbs.edu", "alumni.hbs.edu"], ["https://Linkedin.com", "Linkedin.com"]], {:include_blank => "Select"} %>
     <p class="help-block">Select Url to scrap data from.</p>
   </div>
   <br />
   <div class="form-group">
      <label for="search@scrapetype">Search Type</label>
      <b>Everyone</b>
   </div>
   <br />
   <div class="form-group">
      <%= f.label :keyword %>
      <%= f.text_field :keyword %>
   </div>
   <br />
   <div class="linkedin_fields" style="display: none;">
     <div class="form-group">
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode %>
     </div>
     <br />
     <div class="form-group">
        <%= f.label :auth_code %>
        <%= f.text_field :auth_code %>
     </div>
     
     <div class="module_subheader smaller">
        <em><a href="<%= @auth_url %>" target="_blank">Click here</a> to get the code and enter in below text box to verify.</em>
      </div>
     <br />
   </div>
   <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
      <p class="help-block">Generated Report will be send to this email</p>
   </div>
   <br />
   <%= f.submit "Export Now", :class => "btn btn-default" %>
<% end %>


 

